{% extends "base.html" %}
{% block content %}

  {{ macros.setting_input_text_and_buttons('search_keyword', '통합 검색어', [['search_keyword_test_btn', '테스트'], ['search_keyword_btn', '통합 검색어 실행']], value=arg['search_keyword'], desc='제목|년도. |년도는 옵션. EBS KIDS는 탐색X') }}
  {{ macros.setting_input_text_and_buttons('wavve_code', '웨이브 코드', [['wavve_code_btn', '웨이브 코드 실행']], value=arg['wavve_code']) }}
  {{ macros.setting_input_text_and_buttons('tving_code', '티빙 코드', [['tving_code_btn', '티빙 코드 실행']], value=arg['tving_code']) }}
  {{ macros.setting_input_text_and_buttons('cpang_code', '쿠팡 코드', [['cpang_code_btn', '쿠팡 코드 실행']], value=arg['cpang_code']) }}
  {{ macros.setting_input_text_and_buttons('nf_code', '넷플릭스 코드', [['nf_code_btn', '넷플릭스 코드 실행']], value=arg['nf_code']) }}
  {{ macros.setting_input_text_and_buttons('dsnp_code', '디즈니 플러스 코드', [['dsnp_code_btn', '디즈니 플러스 코드 실행']], value=arg['dsnp_code']) }}
  {{ macros.setting_input_text_and_buttons('amzn_code', '아마존 코드', [['amzn_code_btn', '아마존 코드 실행']], value=arg['amzn_code']) }}
  {{ macros.setting_input_text_and_buttons('atvp_code', '애플 tv 코드', [['atvp_code_btn', '애플tv 코드 실행']], value=arg['atvp_code']) }}
  {{ macros.setting_input_text_and_buttons('ebskids_code', 'EBS KIDS 코드', [['ebskids_code_btn', 'EBS KIDS 코드 실행']], value=arg['ebskids_code']) }}

    {{ macros.m_hr() }}  
</div> <!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

$(document).ready(function(){
});

$("body").on('click', '#search_keyword_test_btn', function(e){
  e.preventDefault();
  globalSendCommand('search_keyword', $('#search_keyword').val(), 'test');
});
  
$("body").on('click', '#search_keyword_btn', function(e){
  e.preventDefault();
  globalSendCommand('search_keyword', $('#search_keyword').val());
});

$("body").on('click', '#wavve_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('wavve_code', $('#wavve_code').val());
});

$("body").on('click', '#tving_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('tving_code', $('#tving_code').val());
});

$("body").on('click', '#cpang_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('cpang_code', $('#cpang_code').val());
});

$("body").on('click', '#nf_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('nf_code', $('#nf_code').val());
});

$("body").on('click', '#dsnp_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('dsnp_code', $('#dsnp_code').val());
});

$("body").on('click', '#amzn_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('amzn_code', $('#amzn_code').val());
});

$("body").on('click', '#atvp_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('atvp_code', $('#atvp_code').val());
});

$("body").on('click', '#ebskids_code_btn', function(e){
  e.preventDefault();
  globalSendCommand('ebskids_code', $('#ebskids_code').val());
});
</script>    
{% endblock %}

