{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <form id='setting' name='설정'>
    {{ macros.setting_input_text('ftv_first_order', '우선순위', value=arg['ftv_first_order'], desc=['WAVVE, TVING, COUPANG, NF, DSNP, AMZN, ATVP']) }}
    {{ macros.setting_input_int('match_score', '최소 매칭 점수', value=arg['match_score'], desc=['특수문자는 제외하고 비교, 0 ~ 100']) }}
    {{ macros.setting_checkbox('extra_season', '모든 시즌 탐색', value=arg['extra_season'], desc='티빙, 웨이브에만 해당, off일 경우 시즌 코드를 다 넣어준다. 구분자,') }}
    {{ macros.setting_checkbox('delete_title', '시리즈 제목 삭제', value=arg['delete_title'], desc='제목은 TMDB 걸로 유지하기 위함이다.') }}
    {{ macros.setting_input_text('manual_target', 'yaml 생성 경로', value=arg['manual_target']) }}
  </form>
    {{ macros.m_hr() }}  
</div> <!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

// $(document).ready(function(){
// });

</script>    
{% endblock %}

