{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <form id='setting' name='설정'>
    {{ macros.setting_input_text('ftv_first_order', '우선순위', value=arg['ftv_first_order'], desc=['WAVVE, TVING, COUPANG, NF, DSNP, AMZN, ATVP']) }}
    {{ macros.setting_checkbox('is_primary', 'Primary', value=arg['is_primary'], desc='on: true, off: false') }}
    {{ macros.setting_input_int('match_score', '최소 매칭 점수', value=arg['match_score'], desc=['특수문자는 제외하고 비교, 0 ~ 100']) }}
    {{ macros.setting_checkbox('extra_season', '모든 시즌 탐색', value=arg['extra_season'], desc='티빙, 웨이브에만 해당, off일 경우 시즌 코드를 다 넣어준다. 구분자,') }}
    {{ macros.setting_checkbox('ep_thum', '썸네일 주소 포함', value=arg['ep_thum'], desc='티빙, 웨이브에만 해당, on 일경우 썸네일 주소도 가져옴') }}
    {{ macros.setting_input_int('split_season', '재생 버전별로 분리할 시즌 갯수', value=arg['split_season'], desc='시즌 1 포함하여 시즌 101, 시즌 201 등을 만들 갯수이다.') }}
    {{ macros.setting_checkbox('delete_title', '시리즈 제목 삭제', value=arg['delete_title'], desc='제목은 TMDB 걸로 유지하기 위함이다.') }}
    {{ macros.setting_input_text('manual_target', 'yaml 생성 경로', value=arg['manual_target']) }}
    {{ macros.setting_checkbox('use_proxy', 'Proxy 사용', value=arg['use_proxy'], desc=None) }}
    <div id="use_proxy_div" class="collapse">
      {{ macros.setting_input_text('proxy_url', 'Proxy URL', value=arg['proxy_url'], desc=None) }}
    </div>
    {{ macros.setting_input_text('chrome_url', 'Chrome_url', value=arg['chrome_url'], desc='원격 크롬드라이버 주소. /wd/hub 로 끝나야함') }}
  </form>
    {{ macros.m_hr() }}  
</div> <!--전체-->

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

$(document).ready(function(){
  use_collapse("use_proxy");
});

$('#use_proxy').change(function() {
  use_collapse('use_proxy');
});
// $(document).ready(function(){
// });

</script>    
{% endblock %}
